button {
	color:white;
	background-color:rgb(33,149,224);
	height:200px;
	font-size:125px;
	padding:0 30px;
	margin-left:200px;
	margin-top:200px;
	margin-right:10px;
	
	



}
body{
	background-color:cyan;
	color:black;
	font-size:40px;
	margin-left:100px;
}


